.welcome-bar {
  background-color: #337ab7;
    padding: 50px;
    border-radius: 4px;
    font-size: 16pt;
    color: white;
    text-align: center;
}

.picture {
  min-width: 280px;
  max-width: 500px;
  height: 500px;
  margin: auto;
  background: url('../../assets/images/Angular_full_color_logo.svg.png') no-repeat center center;
}

.greybox {
  margin: auto;
  background-color: grey;
  min-width: 280px;
  max-width: 500px;
  height: 500px;
}

.access-btn {
  text-transform: uppercase
}
